/* 
 @mark imports 
*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
/* 
 @mark root 
*/
:root {
 --sz-16: 16px;

 --t-000: #000;
 --t-fff: #fff;
 --t-1b54dd: #1b54dd;

 --b-000: #000;
 --b-fff: #fff;
 --b-1b54dd: #1b54dd;
 --b-e8e8e8: #e8e8e8;
}

/* 
 @mark fonts 
 */
/* @font-face {
 font-family: '';
 font-style: normal;
 font-weight: 00;
 font-display: swap;
 src: url('../../fonts') format('woff2');
} */

/* 
 @mark tailwind 
*/
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
 ::-webkit-scrollbar-button {
  @apply w-[6px] h-0;
 }
 ::-webkit-scrollbar-track {
  @apply bg-[var(--b-white)] shadow-[0px_0px_3px_var(--b-white)_inset];
 }
 ::-webkit-scrollbar-thumb {
  @apply rounded-[2px] bg-[var(--b-black)];
 }
 ::-webkit-resizer {
  @apply w-[7px] h-0;
 }
 ::-webkit-scrollbar {
  @apply w-[7px];
 }
 body {
  @apply font-inter font-400 text-16 leading-n text-[var(--t-dark)] bg-[var(--b-white)];
 }
 input,
 select,
 button {
  @apply outline-none;
 }
}
@layer components {
 .i-wrap {
  @apply relative flex;
 }
 .i-full {
  @apply absolute top-0 left-0 w-full h-full object-cover object-center;
 }
}
